@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /*html {
    scroll-snap-type: y mandatory;
  }*/
  
  section {
    scroll-snap-align: start;
  }
  
  
  .animate-fade-in {
    animation: fade-in 1.5s ease-out;
  }